body {
    font-size: 1.5em;
   
}
#content {
    background-image: url('../pictures/background2.png');
    background-position: center;
}
@media  (min-height: 880px) {
    #content {
    height:605px;
    }
    }
#home {
    width: 100%;
    height: 250px;
    background: url('../pictures/background2.png');
    background-repeat: no-repeat;
    z-index: 0;
    background-position: center;
}

#text {
    position: relative;
    top: 47%;
    transform: translateY(-45%);
    text-shadow: 1px 1px 1px rgb(0 0 0 / 70%);
    font-size: 4em;
    color: white;
}
#flexInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#buttonContainer {
    display: block;
    margin-top: 50px;
    margin-bottom: 94px;
    
}
#dataContainer {
    display: block;
    height: fit-content();
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    font-size:2em;
}
#imgCustom {
    margin: auto;
    max-width: 60%;
    border-radius:10px;
    margin-bottom:20px;
    
}
#buttinio {
    font-size: 2em;
}
